<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <title>Rogelio Medina</title>
</head>
<body>
    <header class="header bg-blue">
        <a href="/" class="btn" >Regresar</a>
    </header>
        <section class="text_container bg-blue">
            <div class="grid_container">
                <h2 class="headline">Conoce</h2>
                <h1 class="title">a Rogelio</h1>
            </div>
        </section>
        <section class="bio_container bg-white">
            <div class="grid_container">
                <img class="img_roge" src="images/IMG_3404.JPG" alt="roge">
            </div>
            <div class="grid_container">
                <div class="bio">
                    <p class="frase">"Suerte es lo que sucede cuando la preparación y la oportunidad se encuentran y se fusionan" <br> - Voltaire</p>
                    <p class="texto">Mi nombre es <b>Rogelio Medina</b>, nací el 06 de agosto de 1999 en la ciudad de México aunque siempre viví en el Estado de México. Desde pequeño hasta los 18 años fui alumno del Instituto Ruyard Kipling ¡Más de la mitad de mi vida! Se me hace incríble ya que fue el lugar donde conocí a la mayor parte de mis amigos. En el 2018 empecé a estudiar Ingeniería en Tecnologías de Información, una carrera realmente muy olvidada, ¡pero eso sí! muy enriquecedora. En 2020 empecé a tomar cursos de desarrollo web y para el 2021 empecé como freelance haciendo frontend con NextJs. Después de 7 meses como freelance decedí abandonar el desarrollo y comencé a trabjar en Salesforce. Actualmente soy Solution Engineer donde mi trabajo es entnder los problemas de nuestros clientes para ofrecer soluciones que los ayuden a alcanzar sus metas de negocios a tráves de estrategias digitales.</p>
                </div>
            </div>
        </section>
        <footer class="footer bg-blue">

        </footer>
        
</body>
</html>