<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Test</title>
</head>
<body>
  <div class="hero">
    <div class="frog">
      <iframe src='https://my.spline.design/frog-be8fc3acbb085789eb4dbab307cb19a6/' frameborder='0' width='100%' height='100%'></iframe>
      <a href="/about-me" class="btn" >Te estoy observando...</a>
      <div class="hide">
      </div>
    </div>
    <div class="call_action">
      <h1>!No pasar!</h1>
    </div>    
</body>
</html>