html,
body {
  padding: 0;
  margin: 0;
  background-color: #011638;
  color: #BFCC94;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid_container{
  display: grid;
  max-width: 1400px;
  margin: auto;
}

.title{
    font-size: 7em;
    margin: 0;
    margin-left: 100px;
}

.headline{
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
    margin-top: 150px;
    margin-left: 50px;
}

.img_roge{
    background-color: white;
    width: calc(100% - 100px);
    margin: 50px;
    border-radius: 50px;
    overflow: hidden;
    object-fit: cover;
}


.bio{
    display: flex;
    flex-direction: column;
    margin:0px 50px 200px 50px;
}

.frase{
    font-size: 2rem;
    font-weight: 900;
}

.texto{
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 2rem;
    align-self: flex-end;
}

.card{
    display: grid;
    margin: 50px auto;
    width: 80%;
    height: 700px;
    background-color: black;
    border-radius: 50px;
}